@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

:root {
    --accent: #b8b8b8;
    --accent2: #b8b8b8;
    --accent3: #849a9b;
    --grey: rgb(114, 114, 114);

}

html{
    scroll-behavior: smooth;
}

#Products{
    scroll-margin-top: 100px;
}

#Featured, #About{
    scroll-margin-top: 60px;
}

.navbar{
    z-index: 1000;
    padding: 1.5rem 2.5rem 1rem;
}

.nav-colour{
    background-color: var(--accent);
}

#nav-button:hover{
    color: black;
    background-color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: white;
}

@media only screen and (max-width: 768px) {
 
    .navbar-collapse {
        background: var(--accent);
        position: absolute;
        padding-top: 4rem;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        width: 100%;
        transition: all 0.4s ease;
        display: block;
        z-index: -100;
    }

    .navbar-collapse.collapsing {
        height: auto !important;
        margin-top: -50%;
        top: -50%;
        transition: all 0.2s ease;
    }
    .navbar-collapse.show {
        top: 0;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: all 500ms ease-in-out;
    }
    
    .navbar .btn{
       margin-top: 10px;
       padding: 5px 20px !important;
    }
}

.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .btn, .navbar-dark .navbar-nav .nav-link{
    font-size: 0.9rem;
    font-weight: 200;
    color: white;
}

.navbar .btn{
    margin-left: 0.75rem;
    padding: 0 20px;
}

.btn:hover{
    background-color: var(--accent2);
    color: white;
}

.square{
    border-radius: 0;
    border-width: 2.5px;
    padding: 10px 20px;
}

.carousel{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(80, 33, 15);
    opacity: 25%;
    z-index: 10;
}

.carousel-indicators,.carousel-control-prev,.carousel-control-next{
    z-index: 100;
}

.cimg{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    opacity: 90%;
    z-index: -1;
}

.hero{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: 500;
    text-shadow: #5a421d75 1px 0 10px;
}

.jumbotron{
    background-color: transparent;
}

.about h6{
    color: var(--accent3);
}

.about p{
    color: var(--grey);
}

.card-img-top{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 0;
}

@media only screen and (max-width: 992px) {
    
    .card-img-top{
        height: 30vw;
    }

}

@media only screen and (max-width: 576px) {
    
    .card-img-top{
        height: 50vw;
    }

}

.card:hover{
    box-shadow: rgb(170, 170, 170) 0 0 10px;
}

.card-body{
    padding: 5px 10px;
}

.card-title{
    margin: 5px 0;
}
.card-text{
    margin: 0;
    padding: 0;
}